@model WebApplication1.Models.Album

@{
    ViewBag.Title = "Member";
    Layout = "/Views/Shared/Layout.cshtml";
}

<div class="container-fluid text-center">
    <h2 style="color:#F4F1BB;">SEVEN TEAM</h2>
    <br>
    <div class="row">
        <div class="col-sm-4 ">
            <a href="https://www.facebook.com/profile.php?id=100002570302312&fref=ts">
                <img src="~/pic/1.jpg" class="img-circle person" alt="Random Name">
            </a>
            <p style="color:#9BC1BC;"><strong>廖華聖</strong></p>
            <p style="color:#9BC1BC;">1103105305</p>
        </div>
        <div class="col-sm-4">
            <a href="https://www.facebook.com/profile.php?id=100000449332604&fref=ts">
                <img src="~/pic/2.jpg" class="img-circle person" alt="Random Name">
            </a>
            <p style="color:#9BC1BC;"><strong>林敬宗</strong></p>
            <p style="color:#9BC1BC;">1103105310</p>
        </div>
        <div class="col-sm-4">
            <a href="https://www.facebook.com/tingchang.hsu?fref=ts">
                <img src="~/pic/3.jpg" class="img-circle person" alt="Random Name">
            </a>
            <p style="color:#9BC1BC;"><strong>許庭章</strong></p>
            <p style="color:#9BC1BC;">1103105331</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <a href="https://www.facebook.com/profile.php?id=100002288875969">
                <img src="~/pic/4.jpg" class="img-circle person" alt="Random Name">
            </a>
            <p style="color:#9BC1BC;"><strong>林佑恩</strong></p>
            <p style="color:#9BC1BC;">1103105336</p>
        </div>
        <div class="col-sm-4">
            <a href="https://www.facebook.com/zing.chen.5?fref=ts">
                <img src="~/pic/5.jpg" class="img-circle person" alt="Random Name">
            </a>
            <p style="color:#9BC1BC;"><strong>陳政穎</strong></p>
            <p style="color:#9BC1BC;">1103105341</p>
        </div>
        <div class="col-sm-4">
            <a href="https://www.facebook.com/shuyan.li.3?fref=ts">
                <img src="~/pic/6.jpg" class="img-circle person" alt="Random Name">
            </a>
            <p style="color:#9BC1BC;"><strong>李淑燕</strong></p>
            <p style="color:#9BC1BC;">1103137142</p>
        </div>

    </div>
</div>
