@model WebApplication1.Models.Album

@{
    ViewBag.Title = "Member";
    Layout = "/Views/Shared/Layout.cshtml";
}

<div class="container-fluid text-center">
    <h2 style="color:#F4F1BB;">SEVEN TEAM</h2>
    <br>
    <div class="row">
        <div class="col-sm-4 ">
            <img src="~/pic/1.jpg" class="img-circle person" alt="Random Name">
            <h4  style="color:#9BC1BC;">廖華聖</h4>
            <p  style="color:#9BC1BC;">1103105305</p>
        </div>
        <div class="col-sm-4">
            <img src="~/pic/2.jpg" class="img-circle person" alt="Random Name">
            <h4 style="color:#9BC1BC;">林敬宗</h4>
            <p style="color:#9BC1BC;">1103105310</p>
        </div>
        <div class="col-sm-4">
            <img src="~/pic/3.jpg" class="img-circle person" alt="Random Name">
            <h4 style="color:#9BC1BC;">許庭章</h4>
            <p style="color:#9BC1BC;">1103105331</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/pic/4.jpg" class="img-circle person" alt="Random Name">
            <h4 style="color:#9BC1BC;">林佑恩</h4>
            <p style="color:#9BC1BC;">1103105336</p>
        </div>
        <div class="col-sm-4">
            <img src="~/pic/5.jpg" class="img-circle person" alt="Random Name">
            <h4 style="color:#9BC1BC;">陳政穎</h4>
            <p style="color:#9BC1BC;">1103105341</p>
        </div>
        <div class="col-sm-4">
            <img src="~/pic/6.jpg" class="img-circle person" alt="Random Name">
            <h4 style="color:#9BC1BC;">李淑燕</h4>
            <p style="color:#9BC1BC;">1103137142</p>
        </div>
        
    </div>
</div>
